body {
  background: #d2d2d2; }

.bg-white {
  background: #ffffff; }

.header-wrapper {
  top: 0;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  z-index: 1; }

.header-container {
  background: #ffffff;
  padding: 2px 0 2px 0; }

.navbar-brand > h1 {
  font-size: 14px;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif; }

.nav-item {
  margin-right: 20px; }
  .nav-item:nth-last-child(1) {
    margin-right: 0; }

body {
  position: relative; }

.nav-link {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 8px 0 8px 0 !important;
  color: black !important; }

@media (max-width: 1200px) {
  .write-us {
    display: none; } }

@media (min-width: 1200px) {
  .header-number {
    position: absolute;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 600;
    outline: none;
    background: transparent;
    top: 13px;
    right: 0; }
    .header-number::before {
      position: absolute;
      content: '';
      width: 16px;
      height: 16px;
      left: -26px;
      top: 7px;
      background: url("/img/sprite.png") -106px -61px;}

  .what-number {
    position: absolute;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 600;
    outline: none;
    background: transparent;
    top: 43px;
    right: 0; }
  .what-number::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    left: -26px;
    top: 7px;
    background: url("/img/whatsapp.png")  center no-repeat;
    background-size: cover;
  }
  .nav-wrap {
    margin-left: 180px; }
  .nav-item {
    margin-top: 30px; }
  .active_link {
    position: relative; }
    .active_link:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      bottom: -3px;
      background: #47b62e; }
  .nav-margin {
    margin-left: 50px; } }

.slide-out-menu {
  position: absolute;
  width: 251px;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background: #ffffff;
  z-index: 10000; }

.promotion {
  position: relative;
  background: url("/img/bg.jpg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }

.prom-text h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: #ffff;
  margin: -20px 0 0 0; }
  .prom-text h1 span {
    font-weight: 200; }

.prom-text p {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffff;
  text-shadow: 2px 2px 7px #000000;
  margin: 0; }

.prom-text a {
  width: 198px;
  height: 48px;
  background: #47b62e;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffff;
  font-size: 16px;
  font-weight: 600;
  margin: 25px 0 0 0; }

.margin-btn {
  margin-top: 30px; }

.write-us-btn:hover {
  background: #367e22; }

.prom-text {
  width: 97%; }

.prom-social {
  width: 3%;
  right: 0;
  height: 100%; }

.instagram {
  display: block;
  width: 29px;
  height: 29px;
  background: url("/img/facebook.png") center no-repeat;
  background-size: cover;
  margin: 0 0 25px 0; }

.vk {
  display: block;
  width: 34px;
  height: 19px;
  background: url("/img/sprite.png") 0 -59px;
  margin: 0 0 25px 0; }

.whatsup {
  display: block;
  width: 27px;
  height: 28px;
  background: url("/img/sprite.png") -79px -28px;
  margin: 0 0 0 0; }

@media (max-width: 576px) {
  .promotion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 300px; }
  .prom-text h1 {
    font-size: 28px; }
    .prom-text h1 span {
      font-weight: 200; }
  .prom-text p {
    font-size: 15px;
    text-align: center; }
  .prom-text a {
    width: 160px;
    height: 38px;
    font-size: 12px;
    font-weight: 700; }
  .prom-social {
    width: 100%;
    height: 50px;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    display: none;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    margin-top: 40px; }
  .instagram, .vk, .whatsup {
    display: block;
    margin: 0 10px 0 0; }
  h1 {
    text-align: center; }
  .mini-text-form {
    margin-bottom: 5px;
    text-align: center; }
  .submit-form {
    margin: 20px 0 20px 0; } }

@media (min-width: 576px) {
  .promotion {
    height: 300px; }
  .prom-text {
    margin-left: 70px; }
    .prom-text h1 {
      font-size: 45px; }
      .prom-text h1 span {
        font-weight: 200; }
    .prom-text p {
      font-size: 20px; }
  .prom-social {
    width: 80px; }
  h1 {
    text-align: center; }
  .mini-text-form {
    margin-bottom: 5px;
    text-align: center; }
  .submit-form {
    margin: 20px 0 20px 0; } }

@media (min-width: 768px) {
  .promotion {
    height: 400px; }
  .prom-text {
    margin-left: 80px; }
    .prom-text h1 {
      font-size: 65px; }
      .prom-text h1 span {
        font-weight: 200; }
    .prom-text p {
      font-size: 25px; }
  .prom-social {
    width: 100px; }
  h1 {
    text-align: center; }
  .mini-text-form {
    margin-bottom: 5px;
    text-align: center; }
  .submit-form {
    margin: 20px 0 20px 0; } }

@media (min-width: 992px) {
  .promotion {
    height: 550px; }
  .prom-text {
    margin-left: 80px; }
    .prom-text h1 {
      font-size: 65px; }
      .prom-text h1 span {
        font-weight: 200; }
    .prom-text p {
      font-size: 25px; }
  .prom-social {
    width: 150px; }
  h1 {
    text-align: center; }
  .mini-text-form {
    text-align: center;
    margin-bottom: 5px; }
  .submit-form {
    margin: 20px 0 20px 0; } }

@media (min-width: 1200px) {
  .promotion {
    height: 700px; }
  .prom-text {
    margin-left: 90px; }
    .prom-text h1 {
      font-size: 65px; }
      .prom-text h1 span {
        font-weight: 200; }
    .prom-text p {
      font-size: 25px; }
    .prom-text .one-text {
      margin-top: 90px; }
    .prom-text .text-coupon {
      font-size: 19px; }
  .form-wrapper h1 {
    text-align: center; }
  .form-wrapper .mini-text-form {
    text-align: center;
    margin-bottom: 5px; }
  .form-wrapper .submit-form {
    margin: 20px 0 20px 0; }
  .prom-social {
    width: 100px; } }

.house {
  padding: 50px 10px; }

.decoration {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 50px; }
  .decoration div:nth-of-type(1) {
    width: 100px;
    height: 2px;
    background: #eeeeee;
    -webkit-transform: rotate(-27deg);
        -ms-transform: rotate(-27deg);
            transform: rotate(-27deg); }
  .decoration div:nth-of-type(2) {
    width: 100px;
    height: 2px;
    background: #eeeeee;
    -webkit-transform: rotate(27deg);
        -ms-transform: rotate(27deg);
            transform: rotate(27deg); }

.title-wrap h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  color: #47b62e;
  font-weight: 600; }
  .title-wrap h2 span {
    color: #000;
    font-weight: 200; }

.title-wrap p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px; }

.house-content {
  margin-top: 15px; }
  .house-content h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 30px;
    font-weight: 200;
    color: #47b62e; }
  .house-content p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400; }

@media (max-width: 576px) {
  .title-wrap h2 {
    font-size: 30px;
    text-align: center; }
  .title-wrap p {
    font-size: 16px;
    text-align: center; }
  .img-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center; }
    .img-wrap img {
      display: block;
      width: 250px;
      height: 200px; }
  .house-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .house-content h3 {
      font-size: 25px; }
    .house-content p {
      font-size: 14px; } }

@media (min-width: 576px) {
  .title-wrap h2 {
    font-size: 30px; }
  .title-wrap p {
    font-size: 20px; }
  .house-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .img-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center; }
    .img-wrap img {
      display: block;
      width: 450px;
      height: 300px; }
  .house-content h3 {
    font-size: 30px; }
  .house-content p {
    font-size: 16px; } }

@media (min-width: 768px) {
  .img-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center; }
    .img-wrap img {
      display: block;
      width: 450px;
      height: 300px; }
  .house-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .house-content h3 {
      font-size: 30px; }
    .house-content p {
      font-size: 14px; } }

@media (min-width: 992px) {
  .img-wrap img {
    display: block;
    width: 510px;
    height: 350px; }
  .house-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .house-content h3 {
      font-size: 30px; }
    .house-content p {
      font-size: 14px; } }

@media (min-width: 1200px) {
  .img-wrap img {
    width: 530px;
    height: 380px; }
  .house-content h3 {
    font-size: 30px; }
  .house-content p {
    font-size: 16px; } }

.sale-container {
  position: relative;
  padding: 20px 0 50px 0; }

.card-sale {
  position: relative;
  width: 330px;
  margin-top: 40px;
  padding: 30px 0; }
  .card-sale .card-body-one img {
    width: 100px; }
  .card-sale .card-body-one h5 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 28px;
    font-weight: 300; }
    .card-sale .card-body-one h5 span {
      font-weight: 600; }
  .card-sale .card-body-one h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 83px;
    color: #47b62e;
    height: 80px;
    margin: 0; }
  .card-sale .card-body-one h4 {
    font-size: 22px;
    color: #47b62e;
    margin-bottom: 20px; }
  .card-sale .card-body-one p {
    text-align: center;
    font-size: 16px; }

.more-btn {
  display: block;
  width: 152px;
  height: 40px;
  border: 1px solid #eeeeee;
  text-align: center;
  text-decoration: none;
  color: #000;
  padding: 5px; }
  .more-btn:hover {
    color: #000;
    text-decoration: none;
    background: rgba(238, 238, 238, 0.4); }

.img-card {
  margin: 0;
  color: black;
  text-decoration: none; }
  .img-card:hover {
    color: #000; }
  .img-card h1 {
    margin-left: 3px; }

.gallery {
  background: #ffffff; }

.img-wrapper {
  position: relative;
  border: 2px solid white;
}
  .img-wrapper img {
    cursor: pointer; }

.black-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 23; }

@media (max-width: 576px) {
  .gallery {
    display: none; } }

@media (min-width: 576px) {
  .gallery {
    display: none; } }

@media (min-width: 768px) {
  .gallery {
    display: none; } }

@media (min-width: 992px) {
  .gallery {
    display: block; }
  .img-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 25%;
    height: 220px;
    background: #ffffff;
    overflow: hidden; }
    .img-wrapper:hover {
      background: #000; }
    .img-wrapper img {
      display: block;
      height: 100%;
      margin: auto; } }

@media (min-width: 1200px) {
  .gallery {
    display: block; }
  .img-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 25%;
    height: 250px;
    background: #ffffff;
    overflow: hidden; }
    .img-wrapper img {
      display: block;
      height: 100%;
      margin: auto; } }

@media (min-width: 1400px) {
  .gallery {
    display: block; }
  .img-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 25%;
    height: 320px;
    background: #ffffff;
    overflow: hidden; }
    .img-wrapper img {
      display: block;
      height: 100%;
      margin: auto; } }

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

.item {
  display: block;
  position: relative; }

.item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(icon-path);
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.item:hover:before,
.item:hover:after {
  opacity: 1; }

.white-popup {
  position: relative;
  background: #FFF;
  padding: 10px;
  width: auto;
  max-width: 1000px;
  margin: 20px auto; }

.gallery-wrapper {
  padding: 100px 30px; }

.img-gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 220px;
  border: 1px solid #c2c2c2;
  background: #ffffff;
  overflow: hidden;
  margin: 10px; }
.img-news-wrapper{
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.img-news-wrapper img{
  height: 100%;
}
.img-gallery > a img {
  display: block;
  height: 100%;
  margin: auto; }

@media (max-width: 576px) {
  .img-gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 130px;
    height: 130px;
    background: #ffffff;
    overflow: hidden;
    margin: 10px; } }

@media (min-width: 576px) {
  .img-gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 150px;
    height: 150px;
    background: #ffffff;
    overflow: hidden;
    margin: 10px; } }

@media (min-width: 768px) {
  .img-gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 170px;
    height: 170px;
    background: #ffffff;
    overflow: hidden;
    margin: 10px; } }

@media (min-width: 992px) {
  .img-gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 170px;
    height: 170px;
    background: #ffffff;
    overflow: hidden;
    margin: 10px; } }

@media (min-width: 1200px) {
  .img-gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 220px;
    height: 220px;
    background: #ffffff;
    overflow: hidden;
    margin: 10px; } }

@media (min-width: 1400px) {
  .img-gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 220px;
    height: 220px;
    background: #ffffff;
    overflow: hidden;
    margin: 10px; } }

.pagination {
  margin: 40px 0 0 0; }

.news-container {
  padding: 20px 10px 20px 10px; }

.card-news {
  position: relative;
  max-width: 340px;
  margin-top: 40px;
  padding-bottom: 20px;
  -webkit-border-radius: 0;
          border-radius: 0; }
  .card-news a {
    text-decoration: none;
    color: #6b6a6a;
    margin-left: 20px; }
    .card-news a:hover {
      color: black; }

.data {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: #47b62e;
  -webkit-border-radius: 0;
          border-radius: 0; }
  .data span:nth-of-type(1) {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 22px;
    color: #ffff; }
  .data span:nth-of-type(2) {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    color: #ffff;
    font-weight: 400;
    text-transform: uppercase; }

.card-body h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase; }

.read-all {
  padding: 30px; }
  .read-all a {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-decoration: underline;
    color: #6b6a6a; }
    .read-all a:hover {
      color: #000000; }

.card-img-top {
  -webkit-border-radius: 0;
          border-radius: 0; }

@media (max-width: 576px) {
  .read-all a {
    font-size: 18px; } }

footer {
  background: #000; }

.footer-content {
  width: 100%;
  padding: 76px 0 0 0; }

.footer-rights {
  width: 100%; }

.footer-menu {
  width: 290px; }
  .footer-menu .nav .nav-item {
    margin: 5px 0 0 0;
    color: white; }
    .footer-menu .nav .nav-item a {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 21px;
      color: white;
      font-weight: 500;
      text-decoration: none; }
      .footer-menu .nav .nav-item a:hover {
        color: #47b62e;
        text-decoration: none; }

.nav-link {
  color: white; }

.logo-wrap {
  width: 230px; }
  .logo-wrap h1 {
    text-align: center;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-weight: 300; }

.footer-table {
  border: 0; }

.footer__td {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: white; }
  .footer__td:nth-of-type(1) {
    padding-right: 30px; }
  .footer__td:nth-of-type(2) {
    position: relative;
    padding-left: 26px; }
    .footer__td:nth-of-type(2)::before {
      position: absolute;
      content: '';
      width: 16px;
      height: 16px;
      background: url("/img/sprite.png") -106px -61px;
      top: 25px;
      left: 0; }

.footer-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 100px; }
  .footer-social a span {
    margin: 0; }

.footer-rights {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.footer-sign {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: white;
  padding: 0 10px;
  height: 20px;
  border-left: 1px solid white;
  line-height: 1.15; }
  .footer-sign:nth-of-type(1) {
    border-left: none; }
  .footer-sign a {
    color: white; }

@media (max-width: 576px) {
  .footer-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .nav {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0; }
  .footer-contacts {
    padding: 10px 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-rights {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }

@media (max-width: 768px) {
  .footer-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .nav {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0; }
  .footer-contacts {
    padding: 10px 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (max-width: 992px) {
  .footer-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .nav {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0; }
  .footer-contacts {
    padding: 10px 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

.number {
  margin-top: 20px;
  color: #ffffff !important; }

.about-house {
  top: -30px;
  max-width: 830px;
  background: white;
  z-index: 10;
  padding: 100px 100px; }

.content-about {
  margin-top: 10px; }
  .content-about h4 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    margin: 10px 0 10px 0; }
  .content-about p {
    position: relative;
    margin-left: 15px;
    margin-bottom: 3px; }
    .content-about p::before {
      position: absolute;
      content: '';
      left: -25px;
      top: 3px;
      width: 18px;
      height: 18px;
      background: url("/img/green.png"); }

.write-us-btn {
  width: 198px;
  height: 48px;
  background: #47b62e;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffff;
  font-size: 16px;
  font-weight: 600; }
  .write-us-btn:hover {
    text-decoration: none;
    color: white; }

.contacts-wrapper {
  background: #ffffff;
  padding: 200px 30px; }

.info-wrapper,
.form-contacts {
  padding: 0 26px; }

.number-phone,
.mail-letter,
.address {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: black; }
.what-number-contact{
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: black;
  margin-bottom: 1rem;
}
.what-number-contact:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background: url("/img/whatsapp.png") center no-repeat;
  background-size: cover;
  top: 3px;
  left: -26px; }
.number-phone:before {
  position: absolute;
  content: '';
  width: 16px;
  height: 17px;
  background: url("/img/sprite.png") -106px -61px;
  top: 3px;
  left: -26px; }

.mail-letter {
  margin-left: 5px;
  margin-bottom: 50px; }

.mail-letter:before {
  position: absolute;
  content: '';
  width: 21px;
  height: 22px;
  background: url("/img/sprite.png") -106px -22px;
  top: 1px;
  left: -31px; }

.address:before {
  position: absolute;
  content: '';
  width: 16px;
  height: 17px;
  background: url("/img/sprite.png") -106px -44px;
  top: 7px;
  left: -26px; }

@media (max-width: 1199px) {
  .see-map {
    display: none;
    position: absolute;
    right: 20px;
    margin-bottom: 16px;
    font-size: 20px;
    color: #cecccc;
    text-decoration: underline; }
    .see-map:hover {
      color: #000; } }

@media (min-width: 1200px) {
  .see-map {
    position: absolute;
    right: 20px;
    margin-bottom: 16px;
    font-size: 20px;
    color: #cecccc;
    text-decoration: underline; }
    .see-map:hover {
      color: #000; } }

.form-contacts textarea {
  width: 100%;
  height: 156px;
  margin: 25px 0 30px 0; }

.send-contact {
  position: relative;
  cursor: pointer; }

.send-contact::before {
  position: absolute;
  content: '';
  width: 21px;
  height: 22px;
  background: url("/img/sprite.png") -106px 0px;
  left: 23px; }

.card-text {
  text-align: center; }

.card-title {
  margin-top: 10px;
  text-align: center; }

.card-variant {
  border: none; }

@media (min-width: 1200px) {
  .card-variant {
    margin: 0 45px 45px 0;
    border: none; }
  .card-variant:nth-of-type(even) {
    margin-right: 45px; } }

.min-height{
  min-height: 700px;
}
.full-width h1{
  margin-bottom: 20px;
}

.full-width img{
  max-width: 40%;
  margin-bottom: 20px;
}
.full-width h5{
  color: rgb(110, 110, 110);
}
.btn-home-sc{
  font-size: 18px;
}
.title-desc{
  color: white !important;
}
